<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon Compte</title>
  <link rel="stylesheet" href="/assets/css/account.css">
</head>
<header>

<div class="custom-shape-divider-top-1718065548">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <rect x="1200" height="3.6"></rect>
    <rect height="3.6"></rect>
    <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
    </svg>
</div>

</header>



<body>



<div id="accounts-form-container">



<div id="login-form-container">
<h2 class="h2">Se Connecter</h2>

<form id="login-form">


<div id="label-input-container-log-in"> 
<label class="email-log-label" for="email">Adresse mail :</label>
<input class="email-log-input" type="email" name="email" placeholder="yourexample@hotmail.com">  
</div>  


<div id="label-input-container-log-in">   
<label class="password-log-label" for="password">Mot de passe :</label>  
<input class="password-log-input" type="password" name="password" placeholder="*************"  minlength="13">  
<a id="forgot-password" href="#">Mot de Passe Oublié ?</a>
</div>

<div id="remember-container">
<input type="checkbox" name="remember" value="">
<label id="remember-txt" for="remember" name="remember-me">Se souvenir de moi</label>
</div>


<input id="sub" type="submit" value="Se connecter">


<div id="underline"></div>

<p id="login-ways">Où ?</p>

<div id="login-ways-icons-container">

    <a id="apple-login" href="#"><ion-icon id="ion-icon" name="logo-apple"></ion-icon>Se connecter avec Apple</a>
    <a id="google-login" href="#"><ion-icon id="ion-icon" name="logo-google"></ion-icon>Se connecter avec Google</a>

</div>

</form>
</div>  






<div id="sign-in-form-container">
<h2>Créer un compte</h2>

<form id="sign-in-form">


<div id="label-input-container-sign-in"> 
    <label class="labels-sign-in" for="first-name">Nom :</label>  
    <input class="inputs-sign-in" type="name" name="first-name" placeholder="Sakai">  
</div>  


<div id="label-input-container-sign-in"> 
    <label class="labels-sign-in" for="last-name">Prénom :</label>  
    <input class="inputs-sign-in" type="name" name="last-name" placeholder="Jin">  
</div>  

<div id="label-input-container-sign-in"> 
    <label class="labels-sign-in" for="email">Adresse mail :</label>
    <input class="inputs-sign-in" type="email" name="email" placeholder="yourexample@hotmail.com">  
</div>  
    
    
<div id="label-input-container-sign-in"> 
    <label class="labels-sign-in" for="password">Mot de passe :</label>  
    <input class="inputs-sign-in" type="password" name="password" minlength="13">  
</div>


<div id="label-input-container-sign-in"> 
    <label class="labels-sign-in" for="password-confirm">Confirmation du Mot de passe :</label>  
    <input class="inputs-sign-in" type="password" name="password" minlength="13">  
</div>


<input id="log" type="submit" value="Création du compte">


</form>
</div>

</div>


<div id="return-home"> 
<a href="/index.html" class="home-button"><ion-icon id="home" name="home" aria-hidden="true"></ion-icon></a>
</div>


<div class="mentions-container">

  <a id="mentions-links" href="#">Mentions Légales</a>
  <a id="mentions-links" href="#">Plan du Site</a>

</div>













<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
<footer>
</footer>
</html>