<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Overseas Dreams</title>
  <link rel="stylesheet" href="/assets/css/contact.css">
</head>

<header>
<nav id="nav-menu"> 

<div id="logo-container">
<a href="/index.html">    
<img src="/assets/img/Overseas Dreams Logo.svg" height="50" width="50"></a>  
<p id="logo">OverSeas Dreams</p>
</div> 


<div id="menu-links-container">

   <a class="menu-links" href="/views/destination.html"><ion-icon id="icon" name="airplane"></ion-icon>Destinations</a>
   <a class="menu-links" href="/views/reservation.html"><ion-icon id="icon" name="calendar"></ion-icon>Réservations</a>
   <a class="menu-links" href="/views/ouragencies.html"><ion-icon id="icon" name="business"></ion-icon>Nos Agences</a>

   <a id="log-button" class="menu-links" href="/views/account.html"><ion-icon id="icon" name="person"></ion-icon>Login / Sign</a>

</div>

</nav>
</header>
<body>

<section>

<div id="bg-container">
    <h2 id="contact-title">Contactez-Nous</h2>
</div>


<div id="form-container"> 
    <form>
    
    
    <div id="first-second-name-container">
    
    
        <div id="first-name-container">
            <label for="first-name">Prénom : </label>
            <input type="text">
        </div>
    
    
        <div id="second-name-container">
            <label for="second-name">Nom : </label>
            <input type="text">
        </div>
    
    </div>
    
    
    <div id="email-subject-container">
    
    
        <div id="email-container">
            <label for="email">Adresse mail : </label>
            <input type="email">
        </div>
    
    
        <div id="subject-container">
            <label for="subject">Sujet : </label>
            <input type="text">
        </div>
    
    </div>
    
    
    <div id="message-container">
      
        <label for="message">Votre message :</label>
        <textarea></textarea>
    
    </div>
    
    <input id="sub" type="submit" value="Envoyer">
    
    </form>
    </div>
    


<div id="phone-sm-container"> 


<div id="phone-container">
  <img id="phone-img" src="/assets/icons/contact-svgrepo-com.svg" height="150" width="150">
  <a id="phone-link" href="tel:+5511981724236">Appelez-nous<ion-icon id="phone-icon" name="call"></ion-icon></a>
</div>    


<div id="sm-container">

    <a class="sm" href="#"><ion-icon name="logo-instagram" aria-hidden="true"></ion-icon></a>
    <a class="sm" href="#"><ion-icon name="logo-twitter" aria-hidden="true"></ion-icon></a>
    <a class="sm" href="#"><ion-icon name="logo-snapchat" aria-hidden="true"></ion-icon></a>
    <a class="sm" href="#"><ion-icon name="logo-youtube" aria-hidden="true"></ion-icon></a>
    <a class="sm" href="#"><ion-icon name="logo-tiktok" aria-hidden="true"></ion-icon></a>

</div>

</div>

</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
<footer>
</footer>
</html>    