<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nos Agences</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/ouragencies.css">
</head>
<header>

<nav id="nav-menu"> 

<div id="logo-container">
<a href="/index.html">    
<img src="/assets/img/Overseas Dreams Logo.svg" height="50" width="50"></a>  
<p id="logo">OverSeas Dreams</p>
</div> 


<div id="menu-links-container">

   <a class="menu-links" href="/views/destination.html"><ion-icon id="icon" name="airplane"></ion-icon>Destinations</a>
   <a class="menu-links" href="/views/reservation.html"><ion-icon id="icon" name="calendar"></ion-icon>Réservations</a>
   <a class="menu-links" href="/views/ouragencies.html"><ion-icon id="icon" name="business"></ion-icon>Nos Agences</a>

   <a id="log-button" class="menu-links" href="/views/account.html"><ion-icon id="icon" name="person"></ion-icon>Login / Sign</a>

</div>

</nav>

</header>

<body>


<div id="our-agencies-title-container">

<div id="img-container"></div>

  <div id="text-icon-container"> 

       <p data-aos="fade-right" id="title-img-container">Nos Agences</p> 
       <img data-aos="fade-left" src="/assets/icons/building-svgrepo-com.svg" height="80" width="150">

  </div>

</div>



<div data-aos="zoom-in-up" id="content-container">
   <p id="content">OverSeas Dreams vous invite à découvrir le monde à travers ses nombreuses agences de voyage situées dans les destinations les plus prisées. Nos bureaux, implantés à Paris, New York, Tokyo et Sydney, vous offrent un service personnalisé et une expertise locale pour organiser des séjours inoubliables. Chaque agence OverSeas Dreams est composée d'experts passionnés qui s'engagent à créer des expériences de voyage sur mesure, répondant à toutes vos envies d'évasion. Venez rencontrer nos équipes et laissez-vous inspirer par les merveilles que le monde a à offrir.</p>
</div>



<div id="big-container"> 

<div id="our-agencies-card-container"></div>


<div id="container-location-agencies">

<h2>La liste de nos agences à travers le monde</h2>


<div id="cards-location-container"> 

<div id="first-card-location">
  <h3>Tokyo, Japan</h3>
</div>

<div id="second-card-location">
  <h3>Shanghai, Chine</h3>
</div>

<div id="third-card-location">
  <h3>São Paulo, Brésil</h3>
</div>

<div id="fourth-card-location">
  <h3>Mexico City, Mexique</h3>
</div>

<div id="fifth-card-location">
  <h3>Cairo, Égypte</h3>
</div>

<div id="sixth-card-location">
  <h3>Beijing, Chine</h3>
</div>

<div id="seventh-card-location">
  <h3>New York City, États-Unis</h3>
</div>

<div id="eight-card-location">
  <h3>Buenos Aires, Argentine</h3>
</div>

<div id="ninenth-card-location">
  <h3>Istanbul, Turquie</h3>
</div>

<div id="tenth-card-location">
  <h3>Jakarta, Indonésie</h3>
</div>

</div>

</div>

</div>



<div id="about-contact-container">

<p id="title-about-contact">Si vous souhaitez en savoir plus ou tout simplement nous contactez</p>

<div id="button-links"> 
<a id="info" class="info-contact-links" href="/views/whoweare.html"><ion-icon id="info-icon" name="information"></ion-icon> À propos</a>
<a class="info-contact-links" href="/views/contact.html"> <ion-icon id="contact-icon" name="create"></ion-icon> Nous contactez</a>
</div>

</div>




<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
<footer>
<nav id="nav-footer">

<div id="About">
<h4>À Propos</h4>
<ul>
<li>FAQ</li>
<li>Catalogue</li>
<li>Nos Agences</li>
<li>Plan Du Site</li>
<li>Nous Rejoindre</li>
</ul>
</div>


<div id="Conditions">
<h4>Conditions</h4>
<ul>
<li>Politiques de confidentialité</li>
<li>Mentions légales</li>
<li>Paramètres des cookies</li>
<li>Protections des données</li>
<li>Conditions générales de ventes</li>
</ul>
</div>


<div id="Siège">
<h4>Siège</h4>
<p class="adress">Rue Säbener Straße 51-57</p>
<p class="adress">81547, München</p>
<p class="adress">Allemagne</p>
</div>



<div id="Sm-Pymt-Container"> 

<div id="Social-Media-Container">
<h4 id="sm-title">Nos Réseaux Sociaux</h4>
<ion-icon id="sm" name="logo-instagram" aria-hidden="true"></ion-icon></a>
<ion-icon id="sm" name="logo-twitter" aria-hidden="true"></ion-icon></a>
<ion-icon id="sm" name="logo-snapchat" aria-hidden="true"></ion-icon></a>
<ion-icon id="sm" name="logo-youtube" aria-hidden="true"></ion-icon></a>
<ion-icon id="sm" name="logo-tiktok" aria-hidden="true"></ion-icon></a>
</div>


<div id="Payments-Container">
<h4 id="pm-title">Modalité de paiements</h4>
<img id="pm" class="payment-icons" src="/assets/icons/visa-svgrepo-com.svg" height="60" width="70">
<img id="pm" class="payment-icons" src="/assets/icons/paypal-logo-svgrepo-com.svg" height="60" width="70">
<img id="pm" class="payment-icons" src="/assets/icons/apple-pay-svgrepo-com.svg" height="60" width="70">
<img id="pm" class="payment-icons" src="/assets/icons/mastercard-svgrepo-com.svg" height="60" width="70">
</div>

</div>

</nav>
<div id="rights"> 
<p id="rights-text">Copyright © | Tous droits réservés - Seijuuro Jin Sama Sakai Shin Productions 2023 ®</p>
</div>
</footer>
</html>