@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, header {
  background-color:  white;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-bottom:solid 1px transparent;
}


/*Nav Bar*/
#nav-menu {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background-color: whitesmoke;
  color: #000000;
  position: fixed;
  top: 0;
  height: 6em;
  width: 100%;
  z-index: 1;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 1em;
  position: absolute;
  left: 3em;
}

#logo {
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Fjalla One", sans-serif;
  font-weight: 700;
}

#menu-links-container {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  position: absolute;
  right: 0;
  align-items: center;
}

.menu-links {
  margin-right: 3em;
  font-size: .85em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

#log-button {
  background-color: #000000;
  color: whitesmoke;
  border-radius: 1em;
  padding: 13px 15px;
  text-align: center;
}

#log-button:hover {
  background-color: white;
  color: black;
}

#icon {
  padding-right: .4em;
}
/*End Of Nav Bar*/



#img-container {
  height: 25em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 10em;
  background-image: url(/assets/img/Desti\ 1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 2em;
}

#sentence-container {
  color: #000000;
  font-weight: 900;
  font-size: 5em;
  text-transform:uppercase; 
  position: absolute;
  padding-top: .3em;
  left: 1em;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#idea-icon {
animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




#title-presentation-destination-container {
  text-align: center;
  margin-top: 10em;
  font-size: 2em;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

#presentation-destination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2em;
  margin-left: 13em;
  margin-right: 13em;
  margin-top: 2em;
  margin-bottom: 15em;
  font-weight: 600;
  gap: 8em;
}

#arrow-icon {
  color: #000000;
  font-size: 5em;
  padding-top: 0em;
}


#continent-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 13em;
  margin-right: 13em;
  margin-top: 3em;
  margin-bottom: 20em;
  font-weight: 600;
  line-height: 2em;
}

#continent-title { 
  text-align: center;
  margin-top: 1em;
  padding-bottom: 1.5em;
  font-size: 2em;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  display: flex; 
  align-items: center;
  overflow: visible;
}

#earth-icon {
  padding-left: .3em;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


#destinations-continent-container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

#three-first-destination-title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}
#three-first-destination-container {
  display: flex;
  flex-direction: row;
  padding: 5em 5em 2em 5em;
  gap: 1em;
}



#three-second-destination-container {
  display: flex;
  flex-direction: row;
  padding: 5em 5em 2em 5em;
  gap: 1em;
}
#three-second-destination-title {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 1em;
  font-size: 2em;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 5em;
  position: absolute;
  color: whitesmoke;
  bottom: .6em;
  left: .4em;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}


#cards-one {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgba(0,0,0,1)), url('/assets/img/Europe.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 18em;
  width: 30em;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: 0px 0px 30px 6px lightgray;
  transition: 500ms ease-in; 
  transition: all .6s ease-in;
}
#cards-one:hover {
  overflow: hidden;
  transition: all 500ms ease-out; 
  box-shadow: 0 0 2px 2px #4B6F44;
  transition: all .5s ease-out;
  transform: scale(.9);
}


#cards-two {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgba(0,0,0,1)), url('/assets/img/Asie.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 18em;
  width: 30em;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: 0px 0px 30px 6px lightgray;
  transition: 500ms ease-in; 
  transition: all .6s ease-in;
}
#cards-two:hover {
  overflow: hidden;
  transition: all 500ms ease-out; 
  box-shadow: 0 0 2px 2px #eec0c8;
  transition: all .5s ease-out;
  transform: scale(.9);
}


#cards-three {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgba(0,0,0,1)), url('/assets/img/NA.webp');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 18em;
  width: 30em;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: 0px 0px 30px 6px lightgray;
  transition: 500ms ease-in; 
  transition: all .6s ease-in;
}
#cards-three:hover {
  overflow: hidden;
  transition: all 500ms ease-out; 
  box-shadow: 0 0 2px 2px #7CB9E8;
  transition: all .5s ease-out;
  transform: scale(.9);
}


#cards-four {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgba(0,0,0,1)), url('/assets/img/Moyen\ Orient.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 18em;
  width: 30em;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: 0px 0px 30px 6px lightgray;
  transition: 500ms ease-in; 
  transition: all .6s ease-in;
}
#cards-four:hover {
  overflow: hidden;
  transition: all 500ms ease-out; 
  box-shadow: 0 0 2px 2px #DEB887;
  transition: all .5s ease-out;
  transform: scale(.9);
}


#cards-five {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgba(0,0,0,1)), url('/assets/img/Oceanie.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 18em;
  width: 30em;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: 0px 0px 30px 6px lightgray;
  transition: 500ms ease-in; 
  transition: all .6s ease-in;
}
#cards-five:hover {
  overflow: hidden;
  transition: all 500ms ease-out; 
  box-shadow: 0 0 2px 2px #EC5800	;
  transition: all .5s ease-out;
  transform: scale(.9);
}


#cards-six {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgba(0,0,0,1)), url('/assets/img/Afrique.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 18em;
  width: 30em;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: 0px 0px 30px 6px lightgray;
  transition: 500ms ease-in; 
  transition: all .6s ease-in;
}
#cards-six:hover {
  overflow: hidden;
  transition: all 500ms ease-out; 
  box-shadow: 0 0 2px 2px #B87333;
  transition: all .5s ease-out;
  transform: scale(.9);
}



.button-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

button {
  margin-top: 2em;
  padding: 13px 15px;
  background-color: #1F75FE;
  color: white;
  border-radius: 5em;
  border: none;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .3em;
}

button:hover {
  background-color: whitesmoke;
  color: black;
}

#me-button, #eu-button {
  position: absolute;
  left: 13em;
}

#oc-button, #as-button {
  position: absolute;
  left: 41em;
}

#af-button, #na-button {
  margin-left: 55em;
}



#last-destination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
  margin-top: 5em;
  margin-bottom: 10em;
}

#cards-seven {
  background-image:linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgba(0,0,0,1)), url('/assets/img/SA.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 18em;
  width: 30em;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: 0px 0px 30px 6px lightgray;
  transition: 500ms ease-in; 
  transition: all .6s ease-in;
}
#cards-seven:hover {
  overflow: hidden;
  transition: all 500ms ease-out; 
  box-shadow: 0 0 2px 2px #006400;
  transition: all .5s ease-out;
  transform: scale(.9);
  text-decoration: none;
}

#sa-button {
  padding-top: 2em;
}




footer {
  background-color: whitesmoke;
  height: 35em;
  width: 100%;
  color:#000000;
  position: relative;
}

#nav-footer {
  display: flex;
  flex-direction: row;
  padding-left: 10em;
  padding-top: 3em;
}

h4 {
  padding-bottom: 2em;
}

#About {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
}

li {
  margin-top: 1em;
  cursor: pointer;
  position: relative;
}

li:hover {
  border-bottom: 2px solid black;
  width: 100%;
  padding-bottom: 1em;
  transition: all 0.2s ease-in;
  transform-origin: bottom right;
}

#Conditions {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  padding-left: 7em;
}

#Siège {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  padding-left: 5em;
}

.adress {
  line-height: 2.5em;
}

#Sm-Pymt-Container {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  padding-left: 10em;
  gap: 1.5em;
}

#sm-title {
  padding-left: .8em;
}

#sm {
  font-size: 2.5em;
  padding-left: .3em;
  cursor: pointer;
}

#Payments-Container {
  padding-top: 1em;
  padding-left: .4em;
}

#pm-title {
  padding-left: .4em;
  padding-bottom: 1em;
}
#pm {
  cursor: pointer;
}

#rights {
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 1.5em;
  left: 10em;
}
#rights-text {
  font-size: .8em;
}