<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asia</title>
  <link rel="stylesheet" href="/assets/css/continents.css/asia.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<header>
<nav id="nav-menu"> 

<div id="logo-container">
<a href="/index.html">    
<img src="/assets/img/Overseas Dreams Logo.svg" height="50" width="50"></a>  
<p id="logo">OverSeas Dreams</p>
</div> 


<div id="menu-links-container">

   <a class="menu-links" href="/views/destination.html"><ion-icon id="icon" name="airplane"></ion-icon>Destinations</a>
   <a class="menu-links" href="/views/reservation.html"><ion-icon id="icon" name="calendar"></ion-icon>Réservations</a>
   <a class="menu-links" href="/views/ouragencies.html"><ion-icon id="icon" name="business"></ion-icon>Nos Agences</a>

   <a id="log-button" class="menu-links" href="/views/account.html"><ion-icon id="icon" name="person"></ion-icon>Login / Sign</a>

</div>

</nav>
</header>
<body>

<section id="first-container">

<div data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500" id="title-slogan-container">
   <h2>L'ASIE</h2>
   <p id="slogan">Un continent de merveilles et de mystères.</p>
   <img id="asia-icon" src="/assets/icons/Asia.svg" height="200" width="150">
</div>


<div data-aos="fade-up" data-aos-anchor-placement="top-center" id="img-container">

   <div class="img-card" id="one"></div>
   <div class="img-card" id="two"></div>
   <div class="img-card" id="three"></div>

</div>

</section>




<section id="second-container">

<div data-aos="zoom-in-up" id="content-container">
   <p>Découvrez l'Asie, un continent où traditions anciennes et modernité se rencontrent harmonieusement. 
      Des temples majestueux d'Angkor Wat aux gratte-ciels futuristes de Tokyo, chaque destination offre un voyage dans le temps. 
      Explorez des paysages variés, des plages paradisiaques de Thaïlande aux montagnes mystiques de l'Himalaya. 
      Plongez dans des cultures riches et diversifiées, des marchés animés de l'Inde aux cérémonies paisibles du Japon. L'Asie vous promet une aventure inoubliable, pleine de découvertes et d'émerveillements.</p>
</div>




<div id="grid-container">



<div data-aos="zoom-out-up" id="middle-grid-container"> 

  

  <div id="middle-city-container">
   <div id="one-city">
      <h2 id="title-card">Tokyo</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Japon, Kantō</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>37.93M</span>
            <p class="content-city">Tokyo, capitale du Japon,
               avec ses gratte-ciels impressionnants, ses quartiers animés comme Shibuya et Shinjuku, et ses temples historiques, elle offre une expérience urbaine unique. 
               Tokyo est également réputée pour sa cuisine variée, allant des sushis aux ramen, et ses technologies de pointe.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="two-city">
      <h2 id="title-card">Singapour</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Singapour, Région Centrale</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>5.6M</span>
            <p class="content-city">
               Singapour, cité-état moderne en Asie du Sud-Est, est réputée pour son architecture futuriste et ses espaces verts impeccables. 
               Mélange harmonieux de cultures chinoise, malaise, indienne et occidentale, elle offre une diversité culinaire exceptionnelle. 
               Singapour est également un important centre financier mondial.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="three-city">
      <h2 id="title-card">Shanghai</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Chine, Shanghai</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>26.32M</span>
            <p class="content-city">Shanghai, métropole vibrante de Chine, allie modernité spectaculaire et richesse historique. 
               La ville offre une cuisine délicieuse, des marchés animés et une vie nocturne dynamique. 
               Shanghai est un mélange fascinant de traditions anciennes et d'innovations contemporaines.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="four-city">
      <h2 id="title-card">Seoul</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Corée du Sud, Sudogwon</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>9.7M</span>
            <p class="content-city">Séoul, capitale de la Corée du Sud, est une métropole dynamique où tradition et modernité cohabitent harmonieusement. 
               Avec ses gratte-ciels futuristes, ses temples historiques et ses marchés animés. 
               Séoul est également réputée pour sa technologie de pointe, sa cuisine délicieuse et sa vie nocturne effervescente. </p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="five-city">
      <h2 id="title-card">Pekin</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon>Chine, Pékin</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>21.54M</span>
            <p class="content-city">Pékin, capitale de la Chine, est une ville historique et culturelle de renommée mondiale. 
               Abritant des sites emblématiques comme la Cité Interdite et la place Tian'anmen.
               Pékin est également connue pour sa cuisine savoureuse, ses hutongs traditionnels et ses innovations technologiques.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="six-city">
      <h2 id="title-card">Manille</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon>Philippines, Le Grand Manille</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>17.80M</span>
            <p class="content-city">Manille, capitale des Philippines, est une métropole animée située. 
               Connue pour son riche patrimoine colonial espagnol, elle abrite des sites historiques comme Intramuros et la cathédrale de Manille. 
               La ville offre également une scène culturelle vibrante, une cuisine variée et un dynamisme urbain unique.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="seven-city">
      <h2 id="title-card">Kuala Lumpur</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Malaisie, Kuala Lumpur</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>1.8M</span>
            <p class="content-city">Kuala Lumpur, capitale de la Malaisie, est une métropole connue pour ses gratte-ciels comme les tours Petronas. Mélangeant cultures malaise, chinoise et indienne, la ville offre une richesse culinaire et culturelle unique. Avec ses marchés animés, ses parcs verdoyants et sa scène commerciale florissante.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="eight-city">
      <h2 id="title-card">Hong-Kong</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Chine, Hong-Kong</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>7.4M</span>
            <p class="content-city">
               Hong Kong, région administrative spéciale de Chine, est une métropole dynamique avec un horizon emblématique et un port animé. 
               Alliant traditions orientales et influences occidentales. 
               Célèbre pour ses marchés, ses gratte-ciels et ses espaces naturels, Hong Kong est une destination captivante.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="nine-city">
      <h2 id="title-card">Hanoi</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Vietnam, Delta du Fleuve Rouge</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>8M</span>
            <p class="content-city">
               Hanoï, la capitale du Vietnam, est une ville au riche patrimoine historique et culturel. 
               Elle se distingue par ses temples bouddhistes et ses charmantes rues anciennes. 
               En tant que centre politique et économique, Hanoï est également un hub vibrant de la culture vietnamienne moderne.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="ten-city">
      <h2 id="title-card">Bangkok</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Thailande, Plaine Centrale</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>10.54M</span>
            <p class="content-city">Bangkok, capitale de la Thaïlande, est une métropole animée connue pour ses temples impressionnants et sa vie nocturne vibrante. 
               Elle combine culture, histoire et modernité, attirant des millions de visiteurs chaque année.</p>
         </div>
      </div>
   </div>
  </div>



</div>





</div>





</section>









<section id="third-container">





<div data-aos="fade-up" id="destinations-continent-container"> 




<p id="destination-continent-title">Si vous souhaitez en apprendre plus sur d'autres continents et leurs merveilleuses villes.</p>



<div id="three-first-destination-container">


<div id="cards-one"><h2 class="continent-title">Europe</h2></div>
<div id="cards-two"><h2 class="continent-title">L'Amérique</h2></div>
<div id="cards-three"><h2 class="continent-title">Moyen-Orient</h2></div>


</div>

<div class="button-links-container">

   <a id="eu-button" href="/views/continents.views/Europe.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="na-button" href="/views/continents.views/Na.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="me-button" href="/views/continents.views/MiddleEast.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>

</div>




<div id="three-second-destination-container">


   <div id="cards-four"><h2 class="continent-title">Océanie</h2></div>
   <div id="cards-five"><h2 class="continent-title">Afrique</h2></div>
   <div id="cards-six"><h2 class="continent-title">L'amérique du sud</h2></div>


</div>

<div class="button-links-container">

   <a id="oc-button" href="/views/continents.views/Oceania.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="af-button" href="/views/continents.views/Africa.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="sa-button" href="/views/continents.views/Sa.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>

</div>





</div>




   
</section>







<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
<footer>
   <nav id="nav-footer">
   
   <div id="About">
   <h4>À Propos</h4>
   <ul>
   <li>FAQ</li>
   <li>Catalogue</li>
   <li>Nos Agences</li>
   <li>Plan Du Site</li>
   <li>Nous Rejoindre</li>
   </ul>
   </div>
   
   
   <div id="Conditions">
   <h4>Conditions</h4>
   <ul>
   <li>Politiques de confidentialité</li>
   <li>Mentions légales</li>
   <li>Paramètres des cookies</li>
   <li>Protections des données</li>
   <li>Conditions générales de ventes</li>
   </ul>
   </div>
   
   
   <div id="Siège">
   <h4>Siège</h4>
   <p class="adress">Rue Säbener Straße 51-57</p>
   <p class="adress">81547, München</p>
   <p class="adress">Allemagne</p>
   </div>
   
   
   
   <div id="Sm-Pymt-Container"> 
   
   <div id="Social-Media-Container">
   <h4 id="sm-title">Nos Réseaux Sociaux</h4>
   <ion-icon id="sm" name="logo-instagram" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-twitter" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-snapchat" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-youtube" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-tiktok" aria-hidden="true"></ion-icon></a>
   </div>
   
   
   <div id="Payments-Container">
   <h4 id="pm-title">Modalité de paiements</h4>
   <img id="pm" class="payment-icons" src="/assets/icons/visa-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/paypal-logo-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/apple-pay-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/mastercard-svgrepo-com.svg" height="60" width="70">
   </div>
   
   </div>
   
   </nav>
   <div id="rights"> 
   <p id="rights-text">Copyright © | Tous droits réservés - Seijuuro Jin Sama Sakai Shin Productions 2023 ®</p>
   </div>
</footer>
</html>    