<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Middle East</title>
  <link rel="stylesheet" href="/assets/css/continents.css/middleeast.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<header>
<nav id="nav-menu"> 

<div id="logo-container">
<a href="/index.html">    
<img src="/assets/img/Overseas Dreams Logo.svg" height="50" width="50"></a>  
<p id="logo">OverSeas Dreams</p>
</div> 


<div id="menu-links-container">

   <a class="menu-links" href="/views/destination.html"><ion-icon id="icon" name="airplane"></ion-icon>Destinations</a>
   <a class="menu-links" href="/views/reservation.html"><ion-icon id="icon" name="calendar"></ion-icon>Réservations</a>
   <a class="menu-links" href="/views/ouragencies.html"><ion-icon id="icon" name="business"></ion-icon>Nos Agences</a>

   <a id="log-button" class="menu-links" href="/views/account.html"><ion-icon id="icon" name="person"></ion-icon>Login / Sign</a>

</div>

</nav>
</header>
<body>

<section id="first-container">

<div data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500" id="title-slogan-container">
   <h2>LE MOYEN ORIENT</h2>
   <p id="slogan">Explorez des terres de légendes et de merveilles modernes.</p>
   <img id="middle-east-icon" src="/assets/icons/Middle-East.svg" height="200" width="170"> 
</div>


<div data-aos="fade-up" data-aos-anchor-placement="top-center" id="img-container">

   <div class="img-card" id="one"></div>
   <div class="img-card" id="two"></div>
   <div class="img-card" id="three"></div>

</div>

</section>




<section id="second-container">

<div data-aos="zoom-in-up" id="content-container">
   <p>Découvrez le Moyen-Orient, une région riche en diversité et en contrastes, où l'histoire ancienne se mêle à la modernité éclatante. 
      Explorez les bazars animés d'Istanbul et le mélange unique de cultures à Antalya. 
      Plongez dans l'histoire fascinante d'Amman et détendez-vous sur les plages de sable blanc d'Aqaba. 
      Admirez le skyline moderne de Koweït et explorez les souks traditionnels de Mascate. 
      Découvrez la beauté naturelle préservée de Fujairah et les attractions cosmopolites de Manama. Profitez des paysages luxuriants de Salalah et de l'aventure à Ras El Khaima. Le Moyen-Orient vous attend avec une palette variée de destinations captivantes et d'expériences uniques à chaque étape de votre voyage.</p>
</div>




<div id="grid-container">



<div data-aos="zoom-out-up" id="middle-grid-container"> 

  

  <div id="middle-city-container">
   <div id="one-city">
      <h2 id="title-card">Salalah</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Oman, Dhofar</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>197 169</span>
            <p class="content-city">Située au sud du Sultanat d'Oman, Salalah est renommée pour son climat doux pendant la mousson khareef, ses plages pittoresques et ses plantations de gommes. 
               C’est un centre culturel et historique important, avec des sites antiques et des paysages verdoyants.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="two-city">
      <h2 id="title-card">Ras El Khaïmah</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon>Émirats Arabes Unis, Ras El Khaïmah</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>115 949</span>
            <p class="content-city">Émirat des Émirats Arabes Unis, Ras El Khaïmah est connu pour ses montagnes majestueuses, ses plages et ses sites archéologiques anciens. 
               Il est également un centre pour le tourisme de nature et d'aventure.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="three-city">
      <h2 id="title-card">Mascate</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Oman, Muscat</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>1.5M</span>
            <p class="content-city">Capitale du Sultanat d'Oman, Mascate est célèbre pour son port naturel, ses forts historiques et son architecture islamique distincte. 
               La ville combine modernité et tradition dans un cadre pittoresque le long du littoral.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="four-city">
      <h2 id="title-card">Manama</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Bahreïn, Persian Gulf</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>157 000</span>
            <p class="content-city">Capitale de Bahreïn, Manama est un centre financier et commercial dynamique avec une scène culturelle en pleine expansion. 
               La ville est connue pour ses gratte-ciel modernes, ses musées et ses souks traditionnels.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="five-city">
      <h2 id="title-card">Kuwait City</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Koweit, Al-Asimah</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>3M</span>
            <p class="content-city">Capitale du Koweït, Kuwait City est un centre économique important avec une architecture moderne impressionnante, des centres commerciaux luxueux et des sites historiques. 
               La ville joue un rôle clé dans le commerce et l'industrie de la région.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="six-city">
      <h2 id="title-card">Istanbul</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Turquie, Marmara Bölgesi</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>15.46M</span>
            <p class="content-city">Située en Turquie, Istanbul est une métropole fascinante qui s’étend entre l’Europe et l’Asie, connue pour ses monuments historiques comme la Mosquée Bleue et Sainte-Sophie, ainsi que pour son ambiance cosmopolite vibrante.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="seven-city">
      <h2 id="title-card">Fujaïrah</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Émirats Arabes Unis, Fujaïrah</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>97 000</span>
            <p class="content-city">Émirat des Émirats Arabes Unis, Fujaïrah est réputé pour ses plages, ses montagnes et ses sites de plongée. 
               C’est l’un des rares émirats avec une côte sur l’océan Indien, offrant des paysages côtiers uniques.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="eight-city">
      <h2 id="title-card">Aqaba</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Jordanie, Aqaba</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>188 160</span>
            <p class="content-city"> Située en Jordanie, Aqaba est un port stratégique sur la mer Rouge, célèbre pour ses plages, ses sites de plongée et son climat chaud. 
               La ville est un point de départ idéal pour explorer la région et ses merveilles naturelles.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="nine-city">
      <h2 id="title-card">Antalya</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Turquie, Akdeniz Bölgesi</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>1.3M</span>
            <p class="content-city">Ville côtière de Turquie sur la mer Méditerranée, Antalya est réputée pour ses plages dorées, son vieux quartier historique et ses sites archéologiques. 
               Elle est une destination prisée pour le tourisme balnéaire et culturel.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="ten-city">
      <h2 id="title-card">Amman</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Jordanie, Amman</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>4.2M</span>
            <p class="content-city">Capitale de la Jordanie, Amman est une ville moderne avec une riche histoire ancienne, des ruines romaines comme le Théâtre romain et une scène culturelle vivante. 
               C’est un centre économique et politique clé du pays.</p>
         </div>
      </div>
   </div>
  </div>



</div>





</div>





</section>






<section id="third-container">





<div data-aos="fade-up" id="destinations-continent-container"> 




<p id="destination-continent-title">Si vous souhaitez en apprendre plus sur d'autres continents et leurs merveilleuses villes.</p>



<div id="three-first-destination-container">


<div id="cards-one"><h2 class="continent-title">Europe</h2></div>
<div id="cards-two"><h2 class="continent-title">Asie</h2></div>
<div id="cards-three"><h2 class="continent-title">L'Amérique</h2></div>


</div>

<div class="button-links-container">

   <a id="eu-button" href="/views/continents.views/Europe.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="as-button" href="/views/continents.views/Asia.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="na-button" href="/views/continents.views/Na.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>

</div>




<div id="three-second-destination-container">


   <div id="cards-four"><h2 class="continent-title">Océanie</h2></div>
   <div id="cards-five"><h2 class="continent-title">Afrique</h2></div>
   <div id="cards-six"><h2 class="continent-title">L'amérique du sud</h2></div>


</div>

<div class="button-links-container">

   <a id="oc-button" href="/views/continents.views/Oceania.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="af-button" href="/views/continents.views/Africa.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="sa-button" href="/views/continents.views/Sa.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>

</div>





</div>




   
</section>







<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
<footer>
   <nav id="nav-footer">
   
   <div id="About">
   <h4>À Propos</h4>
   <ul>
   <li>FAQ</li>
   <li>Catalogue</li>
   <li>Nos Agences</li>
   <li>Plan Du Site</li>
   <li>Nous Rejoindre</li>
   </ul>
   </div>
   
   
   <div id="Conditions">
   <h4>Conditions</h4>
   <ul>
   <li>Politiques de confidentialité</li>
   <li>Mentions légales</li>
   <li>Paramètres des cookies</li>
   <li>Protections des données</li>
   <li>Conditions générales de ventes</li>
   </ul>
   </div>
   
   
   <div id="Siège">
   <h4>Siège</h4>
   <p class="adress">Rue Säbener Straße 51-57</p>
   <p class="adress">81547, München</p>
   <p class="adress">Allemagne</p>
   </div>
   
   
   
   <div id="Sm-Pymt-Container"> 
   
   <div id="Social-Media-Container">
   <h4 id="sm-title">Nos Réseaux Sociaux</h4>
   <ion-icon id="sm" name="logo-instagram" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-twitter" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-snapchat" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-youtube" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-tiktok" aria-hidden="true"></ion-icon></a>
   </div>
   
   
   <div id="Payments-Container">
   <h4 id="pm-title">Modalité de paiements</h4>
   <img id="pm" class="payment-icons" src="/assets/icons/visa-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/paypal-logo-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/apple-pay-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/mastercard-svgrepo-com.svg" height="60" width="70">
   </div>
   
   </div>
   
   </nav>
   <div id="rights"> 
   <p id="rights-text">Copyright © | Tous droits réservés - Seijuuro Jin Sama Sakai Shin Productions 2023 ®</p>
   </div>
</footer>
</html>    