<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oceania</title>
  <link rel="stylesheet" href="/assets/css/continents.css/oceania.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<header>
<nav id="nav-menu"> 

<div id="logo-container">
<a href="/index.html">    
<img src="/assets/img/Overseas Dreams Logo.svg" height="50" width="50"></a>  
<p id="logo">OverSeas Dreams</p>
</div> 


<div id="menu-links-container">

   <a class="menu-links" href="/views/destination.html"><ion-icon id="icon" name="airplane"></ion-icon>Destinations</a>
   <a class="menu-links" href="/views/reservation.html"><ion-icon id="icon" name="calendar"></ion-icon>Réservations</a>
   <a class="menu-links" href="/views/ouragencies.html"><ion-icon id="icon" name="business"></ion-icon>Nos Agences</a>

   <a id="log-button" class="menu-links" href="/views/account.html"><ion-icon id="icon" name="person"></ion-icon>Login / Sign</a>

</div>

</nav>
</header>
<body>

<section id="first-container">

<div data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500" id="title-slogan-container">
   <h2>L'OCEANIE</h2>
   <p id="slogan">Explorez des paradis insulaires et des aventures au cœur de la nature.</p>
   <img id="oceania-icon" src="/assets/icons/Oceania.svg" height="200" width="150"> 
</div>


<div data-aos="fade-up" data-aos-anchor-placement="top-center" id="img-container">

   <div class="img-card" id="one"></div>
   <div class="img-card" id="two"></div>
   <div class="img-card" id="three"></div>

</div>

</section>




<section id="second-container">

<div data-aos="zoom-in-up" id="content-container">
   <p>Découvrez l'Océanie, un continent où la nature règne en maître et les cultures captivent l'esprit. 
      Explorez les plages dorées de Perth et plongez dans l'aventure sauvage de l'Outback australien. 
      Détendez-vous dans les eaux cristallines de Pago Pago et découvrez la beauté naturelle de Queenstown en Nouvelle-Zélande. 
      Imprégnez-vous de l'histoire et de la politique à Canberra, et laissez-vous envoûter par l'exotisme de Pape'ete à Tahiti. 
      Explorez la vie insulaire à Nuku'alofa et plongez dans les eaux turquoise des Fidji. 
      L'Océanie vous invite à un voyage d'exploration et de découverte au cœur de paysages à couper le souffle et de cultures riches en traditions.</p>
</div>




<div id="grid-container">



<div data-aos="zoom-out-up" id="middle-grid-container"> 

  

  <div id="middle-city-container">
   <div id="one-city">
      <h2 id="title-card">Queenstown</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Nouvelle-Zélande, Otago</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>15 850</span>
            <p class="content-city">Située sur l'île du Sud de la Nouvelle-Zélande, Queenstown est réputée pour ses paysages alpins spectaculaires, ses activités de plein air comme le ski et le bungee jumping, et son ambiance vivante et cosmopolite. 
               C'est une destination populaire pour les amateurs d'aventure et de nature.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="two-city">
      <h2 id="title-card">Perth</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Australie, Australie Occidentale</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>2.1M</span>
            <p class="content-city"> Capitale de l'Australie-Occidentale, Perth est une ville côtière dynamique connue pour ses plages ensoleillées, ses espaces verts et sa qualité de vie élevée. 
               Elle est un important centre économique et culturel de la région.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="three-city">
      <h2 id="title-card">Pape’ete</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Polynésie Française, Iles du Vent</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>26 457</span>
            <p class="content-city">Capitale de la Polynésie française, Pape'ete est le cœur commercial et administratif de Tahiti, avec un port animé, un marché coloré et une atmosphère détendue typique des îles du Pacifique. 
               La ville sert de point de départ pour explorer les paysages exotiques de la Polynésie.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="four-city">
      <h2 id="title-card">Pago Pago</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Samoa, Maoputasi</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>36 500</span>
            <p class="content-city">Capitale de l'Amérique Samo, Pago Pago est un port pittoresque situé sur l'île de Tutuila, connue pour ses paysages verdoyants et ses eaux cristallines. 
               La ville est un centre culturel important pour les communautés samoanes.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="five-city">
      <h2 id="title-card">Outback</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Australie, Outback</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>800 000</span>
            <p class="content-city">Le terme "Outback" désigne la vaste région intérieure de l'Australie, connue pour ses paysages désertiques, ses formations rocheuses emblématiques comme Uluru, et ses vastes étendues de nature sauvage. 
               C'est une région emblématique qui incarne l'esprit d'aventure australien.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="six-city">
      <h2 id="title-card">Nuku'alofa</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Tonga, Tongatapu</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>24 000</span>
            <p class="content-city">Capitale des Tonga, Nuku'Alofa est une petite ville paisible avec une culture locale riche, des plages idylliques et une architecture traditionnelle. 
               Elle est le centre administratif et culturel du royaume des Tonga.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="seven-city">
      <h2 id="title-card">Manly</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Australie, Manly Warringah</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>15 597</span>
            <p class="content-city">Suburb de Sydney, en Australie, Manly est célèbre pour sa plage populaire, son ambiance décontractée et ses vues spectaculaires sur l'océan. 
               C'est une destination prisée pour les activités de plein air et le surf.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="eight-city">
      <h2 id="title-card">Koror</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Palaos, Koror</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>14 000</span>
            <p class="content-city">Située aux Palaos, Koror est la ville principale et le centre économique du pays, connue pour ses lagons cristallins et ses paysages marins impressionnants. 
               C'est une porte d'entrée vers des sites de plongée parmi les plus spectaculaires du Pacifique.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="nine-city">
      <h2 id="title-card">Suva</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Fidji, Division Centrale</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>896 444</span>
            <p class="content-city">Suva, capitale des Fidji, est située sur l'île de Viti Levu et constitue le principal centre administratif et économique du pays. 
               La ville est renommée pour son port naturel, ses marchés vivants et son mélange culturel vibrant.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="ten-city">
      <h2 id="title-card">Canberra</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Australie, Nouvelle-Galles du Sud</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>462 000</span>
            <p class="content-city">Capitale de l'Australie, Canberra est une ville planifiée avec des institutions gouvernementales modernes, des musées nationaux et des espaces verts expansifs. 
               Elle est le centre politique du pays et un lieu important pour la culture et l'histoire australiennes.</p>
         </div>
      </div>
   </div>
  </div>



</div>





</div>





</section>






<section id="third-container">





<div data-aos="fade-up" id="destinations-continent-container"> 




<p id="destination-continent-title">Si vous souhaitez en apprendre plus sur d'autres continents et leurs merveilleuses villes.</p>



<div id="three-first-destination-container">


<div id="cards-one"><h2 class="continent-title">Europe</h2></div>
<div id="cards-two"><h2 class="continent-title">Asie</h2></div>
<div id="cards-three"><h2 class="continent-title">L'Amérique</h2></div>


</div>

<div class="button-links-container">

   <a id="eu-button" href="/views/continents.views/Europe.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="as-button" href="/views/continents.views/Asia.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="na-button" href="/views/continents.views/Na.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>

</div>




<div id="three-second-destination-container">


   <div id="cards-four"><h2 class="continent-title">Moyen-Orient</h2></div>
   <div id="cards-five"><h2 class="continent-title">Afrique</h2></div>
   <div id="cards-six"><h2 class="continent-title">L'amérique du sud</h2></div>


</div>

<div class="button-links-container">

   <a id="me-button" href="/views/continents.views/MiddleEast.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="af-button" href="/views/continents.views/Africa.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="sa-button" href="/views/continents.views/Sa.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>

</div>





</div>




   
</section>





<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
<footer>
   <nav id="nav-footer">
   
   <div id="About">
   <h4>À Propos</h4>
   <ul>
   <li>FAQ</li>
   <li>Catalogue</li>
   <li>Nos Agences</li>
   <li>Plan Du Site</li>
   <li>Nous Rejoindre</li>
   </ul>
   </div>
   
   
   <div id="Conditions">
   <h4>Conditions</h4>
   <ul>
   <li>Politiques de confidentialité</li>
   <li>Mentions légales</li>
   <li>Paramètres des cookies</li>
   <li>Protections des données</li>
   <li>Conditions générales de ventes</li>
   </ul>
   </div>
   
   
   <div id="Siège">
   <h4>Siège</h4>
   <p class="adress">Rue Säbener Straße 51-57</p>
   <p class="adress">81547, München</p>
   <p class="adress">Allemagne</p>
   </div>
   
   
   
   <div id="Sm-Pymt-Container"> 
   
   <div id="Social-Media-Container">
   <h4 id="sm-title">Nos Réseaux Sociaux</h4>
   <ion-icon id="sm" name="logo-instagram" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-twitter" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-snapchat" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-youtube" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-tiktok" aria-hidden="true"></ion-icon></a>
   </div>
   
   
   <div id="Payments-Container">
   <h4 id="pm-title">Modalité de paiements</h4>
   <img id="pm" class="payment-icons" src="/assets/icons/visa-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/paypal-logo-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/apple-pay-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/mastercard-svgrepo-com.svg" height="60" width="70">
   </div>
   
   </div>
   
   </nav>
   <div id="rights"> 
   <p id="rights-text">Copyright © | Tous droits réservés - Seijuuro Jin Sama Sakai Shin Productions 2023 ®</p>
   </div>
</footer>
</html>    