<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>South America</title>
  <link rel="stylesheet" href="/assets/css/continents.css/Sa.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<header>
<nav id="nav-menu"> 

<div id="logo-container">
<a href="/index.html">    
<img src="/assets/img/Overseas Dreams Logo.svg" height="50" width="50"></a>  
<p id="logo">OverSeas Dreams</p>
</div> 


<div id="menu-links-container">

   <a class="menu-links" href="/views/destination.html"><ion-icon id="icon" name="airplane"></ion-icon>Destinations</a>
   <a class="menu-links" href="/views/reservation.html"><ion-icon id="icon" name="calendar"></ion-icon>Réservations</a>
   <a class="menu-links" href="/views/ouragencies.html"><ion-icon id="icon" name="business"></ion-icon>Nos Agences</a>

   <a id="log-button" class="menu-links" href="/views/account.html"><ion-icon id="icon" name="person"></ion-icon>Login / Sign</a>

</div>

</nav>
</header>
<body>

<section id="first-container">

<div data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500" id="title-slogan-container">
   <h2>L'AMERIQUE DU SUD</h2>
   <p id="slogan">Plongez dans une palette de cultures vibrantes et de paysages époustouflants.</p>
   <img id="south-america-icon" src="/assets/icons/South America.svg" height="200" width="150">
</div>


<div data-aos="fade-up" data-aos-anchor-placement="top-center" id="img-container">

   <div class="img-card" id="one"></div>
   <div class="img-card" id="two"></div>
   <div class="img-card" id="three"></div>

</div>

</section>




<section id="second-container">

<div data-aos="zoom-in-up" id="content-container">
   <p>Découvrez l'Amérique du Sud, un continent fascinant où la passion, la diversité et la nature se rencontrent. 
      Explorez la salsa envoûtante de Carthagène, la culture riche de Rio, et les paysages spectaculaires de la Paz. 
      Plongez dans l'histoire vibrante de Buenos Aires, et laissez-vous surprendre par la beauté naturelle d'Ushuaia et d'El Calafate. 
      Que vous cherchiez l'aventure, la détente ou l'exploration culturelle, l'Amérique du Sud vous promet des expériences uniques et inoubliables à chaque étape de votre voyage."</p>
</div>



<div id="grid-container">



<div data-aos="zoom-out-up" id="middle-grid-container"> 

  

  <div id="middle-city-container">
   <div id="one-city">
      <h2 id="title-card">Valparaíso</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Chili, Valparaíso</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>295 000</span>
            <p class="content-city">Située sur la côte chilienne, Valparaíso est une ville portuaire vibrante, célèbre pour son architecture colorée, ses collines escarpées et son riche patrimoine culturel. 
               C'est un centre artistique important et un site du patrimoine mondial de l'UNESCO.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="two-city">
      <h2 id="title-card">Ushuaia</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Argentine, Tierra del Fuego</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>57 000</span>
            <p class="content-city">Connue comme la ville la plus australe du monde, Ushuaia est située en Terre de Feu, en Argentine. 
               Elle est le point de départ pour les expéditions en Antarctique et est entourée de paysages spectaculaires de montagnes et de glaciers.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="three-city">
      <h2 id="title-card">Sucre</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Bolivie, Chuquisaca</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>300 000</span>
            <p class="content-city">Capitale constitutionnelle de la Bolivie, Sucre est une ville historique avec une architecture coloniale préservée et un rôle clé dans l'histoire du pays. 
               Elle est inscrite au patrimoine mondial de l'UNESCO pour son importance culturelle et historique.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="four-city">
      <h2 id="title-card">Rio De Janeiro</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Brésil, Rio de Janeiro</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>6.7M</span>
            <p class="content-city">Célèbre pour ses plages emblématiques comme Copacabana, son carnaval vibrant et son célèbre Christ Rédempteur, Rio de Janeiro est une métropole brésilienne dynamique qui combine culture, histoire et beauté naturelle.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="five-city">
      <h2 id="title-card">Quito</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Équateur, Pichincha</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>2M</span>
            <p class="content-city">Capitale de l'Équateur, Quito est une ville située à haute altitude, connue pour son centre historique bien préservé, classé au patrimoine mondial de l'UNESCO, et pour ses vues panoramiques sur les montagnes environnantes.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="six-city">
      <h2 id="title-card">La Paz</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Bolivie, La Paz</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>816 000</span>
            <p class="content-city">Capitale administrative de la Bolivie, La Paz est située à une altitude impressionnante dans les Andes. 
               Elle est célèbre pour ses marchés animés, son téléphérique urbain et ses vues spectaculaires sur les montagnes environnantes.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="seven-city">
      <h2 id="title-card">El Calafate</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Argentine, Patagonie</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>25 000</span>
            <p class="content-city">Ville argentine située en Patagonie, El Calafate est la porte d'entrée du parc national Los Glaciares, connu pour le glacier Perito Moreno. 
               Elle est un point de départ populaire pour explorer les paysages glacés de la région.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="eight-city">
      <h2 id="title-card">Carthagène</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Colombie, Bolívar</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>914 000</span>
            <p class="content-city">Ville portuaire colombienne sur la mer des Caraïbes, Cartagena est réputée pour ses fortifications historiques, son centre-ville colonial coloré et ses plages magnifiques. 
               C'est une destination touristique populaire avec un riche patrimoine historique.</p>
         </div>
      </div>
   </div>
  </div>



</div>



<div data-aos="zoom-out-up" id="middle-grid-container"> 



  <div id="middle-city-container">
   <div id="nine-city">
      <h2 id="title-card">Buenos Aires</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Argentine, Ciudad Autónoma de Buenos Aire</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>3M</span>
            <p class="content-city">Capitale de l'Argentine, Buenos Aires est une métropole cosmopolite connue pour son architecture élégante, son tango emblématique et sa vie culturelle dynamique. 
               La ville est un centre économique et culturel majeur de l'Amérique du Sud.</p>
         </div>
      </div>
   </div>
  </div>


  <div id="middle-city-container">
   <div id="ten-city">
      <h2 id="title-card">Arequipa</h2>
   </div>
   <div id="middle-city-content">
      <ion-icon id="middle-arrow" name="chevron-down"></ion-icon>
      <div class="text-content-container">
         <div class="info-city"> 
            <span><ion-icon class="map-icon" name="map"></ion-icon> Pérou, Arequipa</span>
            <span><ion-icon class="peoples-icon" name="people"></ion-icon>1M</span>
            <p class="content-city">Située au sud du Pérou, Arequipa est une ville pittoresque entourée de volcans et réputée pour son architecture en sillar blanc, ses églises coloniales et son ambiance traditionnelle. 
               Elle est également un point de départ pour explorer le canyon de Colca.</p>
         </div>
      </div>
   </div>
  </div>



</div>





</div>





</section>






<section id="third-container">





<div data-aos="fade-up" id="destinations-continent-container"> 




<p id="destination-continent-title">Si vous souhaitez en apprendre plus sur d'autres continents et leurs merveilleuses villes.</p>



<div id="three-first-destination-container">


   <div id="cards-one"><h2 class="continent-title">Europe</h2></div>
   <div id="cards-two"><h2 class="continent-title">Asie</h2></div>
   <div id="cards-three"><h2 class="continent-title">L'Amérique</h2></div>


</div>

<div class="button-links-container">

   <a id="eu-button" href="/views/continents.views/Europe.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="as-button" href="/views/continents.views/Asia.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="na-button" href="/views/continents.views/Na.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>

</div>




<div id="three-second-destination-container">


   <div id="cards-four"><h2 class="continent-title">Moyen-Orient</h2></div>
   <div id="cards-five"><h2 class="continent-title">Océanie</h2></div>
   <div id="cards-six"><h2 class="continent-title">Afrique</h2></div>


</div>

<div class="button-links-container">

   <a id="me-button" href="/views/continents.views/MiddleEast.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="oc-button" href="/views/continents.views/Oceania.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>
   <a id="af-button" href="/views/continents.views/Africa.html"><button>En savoir plus <ion-icon name="arrow-forward"></ion-icon></button></a>

</div>





</div>




   
</section>






<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
<footer>
   <nav id="nav-footer">
   
   <div id="About">
   <h4>À Propos</h4>
   <ul>
   <li>FAQ</li>
   <li>Catalogue</li>
   <li>Nos Agences</li>
   <li>Plan Du Site</li>
   <li>Nous Rejoindre</li>
   </ul>
   </div>
   
   
   <div id="Conditions">
   <h4>Conditions</h4>
   <ul>
   <li>Politiques de confidentialité</li>
   <li>Mentions légales</li>
   <li>Paramètres des cookies</li>
   <li>Protections des données</li>
   <li>Conditions générales de ventes</li>
   </ul>
   </div>
   
   
   <div id="Siège">
   <h4>Siège</h4>
   <p class="adress">Rue Säbener Straße 51-57</p>
   <p class="adress">81547, München</p>
   <p class="adress">Allemagne</p>
   </div>
   
   
   
   <div id="Sm-Pymt-Container"> 
   
   <div id="Social-Media-Container">
   <h4 id="sm-title">Nos Réseaux Sociaux</h4>
   <ion-icon id="sm" name="logo-instagram" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-twitter" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-snapchat" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-youtube" aria-hidden="true"></ion-icon></a>
   <ion-icon id="sm" name="logo-tiktok" aria-hidden="true"></ion-icon></a>
   </div>
   
   
   <div id="Payments-Container">
   <h4 id="pm-title">Modalité de paiements</h4>
   <img id="pm" class="payment-icons" src="/assets/icons/visa-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/paypal-logo-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/apple-pay-svgrepo-com.svg" height="60" width="70">
   <img id="pm" class="payment-icons" src="/assets/icons/mastercard-svgrepo-com.svg" height="60" width="70">
   </div>
   
   </div>
   
   </nav>
   <div id="rights"> 
   <p id="rights-text">Copyright © | Tous droits réservés - Seijuuro Jin Sama Sakai Shin Productions 2023 ®</p>
   </div>
</footer>
</html>    